<section>
    <span class="head">
        PRODUCTS LIST
    </span>
    <span class="cards">
        <span class="card"
        *ngFor="let product of datas; let i = index;"
        [title]="product.description"
        >
            <img [src]="product.image" alt="">
            <span class="title">{{product.title}}</span>
            <span class="price">{{product.price | currency}}</span>
            <span class="btns">
                <button (click)="addcart(product,i)" class="add-cart">ADD TO CART</button>
                <button (click)="viewprod(product.id)" class="view-prod">VIEW PRODUCT</button>
            </span>
        </span>
    </span>
    <span class="popup" *ngIf="pop">
        {{toast}}
    </span>
</section>
