section{
    .user-add{
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
                h1{
                    font-size: 3rem;
                }
            input,textarea{
                width: 35rem;
                height:3.5rem;
                border-radius: 0.3rem;
                padding: 1rem;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            textarea{
                height: 7rem;
            }
            .error{
                color: red;
                font-size: 1.2rem;
              }
            .username{
                display: flex;
                gap:1rem;

                .selector{
                    width:5rem;
                    height: 2.8rem;
                    border-radius: 0.3rem;
                }
                input{
                    width: 20rem;
                }

            }
            .passwords{
                display: flex;
                gap: 1rem;
                input{
                    width: 17rem;
                }
            }
            .address{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .gender,.terms{
                display: flex;
                align-items: center;
                gap: 2rem;
                label{
                    font-size: 1.6rem;
                }
                input{
                    width:2rem;
                }
            }
            .submit-btn{
                padding: 0.7rem 1.5rem;
                background-color: black;
                color: white;
                border-radius: 0.5rem;
                &:hover{
                    background-color: white;
                    color: black;
                    border: 0.1rem solid black;
                    transition: 0.3s;
                }
            }

        }
    }
}