<section>
  <span class="user-add">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h1>User Form</h1>
      <span class="username">
        <select class="selector" formControlName="selector">
          <option value="Mr">Mr</option>
          <option value="Miss">Miss</option>
          <option value="Mrs">Mrs</option>
        </select>

        <span style="display: flex; flex-direction: column">
          <input
            type="text"
            class="form-control"
            name="firstname"
            formControlName="firstname"
            placeholder="Firstname"
            required
          />
          <small
            *ngIf="
              userForm.get('firstname')?.hasError('required') &&
              userForm.get('firstname')?.touched
            "
            class="error"
          >
            Firstname is required
          </small>
        </span>

        <span style="display: flex; flex-direction: column">

        <input
          type="text"
          class="form-control"
          name="lastname"
          formControlName="lastname"
          placeholder="Lastname"
          required
        />
        <small
        *ngIf="
          userForm.get('lastname')?.hasError('required') &&
          userForm.get('lastname')?.touched
        "
        class="error"
      >
        Lastname is required
      </small>
      </span>
      </span>

      <input
        type="text"
        class="form-control"
        name="email"
        formControlName="email"
        placeholder="Email"
        required
      />
      <small
      *ngIf="
        userForm.get('email')?.hasError('required') &&
        userForm.get('email')?.touched
      "
      class="error">
      Email is required
    </small>

      <input
        type="number"
        class="form-control"
        name="phoneno"
        formControlName="phoneno"
        placeholder="Phone Number"
        required
      />
      <small
      *ngIf="
        userForm.get('phoneno')?.hasError('required') &&
        userForm.get('phoneno')?.touched
      "
      class="error">
      Phone Number is required
    </small>

      <span class="passwords">
        <span style="display: flex; flex-direction: column">
        <input
          type="password"
          class="form-control"
          name="password"
          formControlName="password"
          placeholder="Password"
          required
        />
        <small
        *ngIf="
          userForm.get('password')?.hasError('required') &&
          userForm.get('password')?.touched
        "
        class="error">
        Password is required
      </small>
      </span>
      <span style="display: flex; flex-direction: column">

        <input
          type="password"
          class="form-control"
          name="confirmpassword"
          formControlName="confirmpassword"
          placeholder="Confirm Password"
          required
        />
        <small
        *ngIf="
          userForm.get('confirmpassword')?.hasError('required') &&
          userForm.get('confirmpassword')?.touched
        "
      class="error">
        Confirm Password is required
      </small>
  
      <small *ngIf="userForm.get('confirmpassword')?.hasError('mismatch')" class="error">
        Passwords do not match
      </small>
      </span>

      </span>
      <span class="address">
        <input
          type="text"
          class="form-control"
          name="address1"
          formControlName="address1"
          placeholder="Address 1"
          required
        />
        <small
        *ngIf="
          userForm.get('address1')?.hasError('required') &&
          userForm.get('address1')?.touched
        "
        class="error">
        Address is required
      </small>
        <input
          type="text"
          class="form-control"
          name="address2"
          formControlName="address2"
          placeholder="Address 2"
        />

        <input
          type="text"
          class="form-control"
          name="city"
          formControlName="city"
          placeholder="City"
          required
        />
        <small
        *ngIf="
          userForm.get('city')?.hasError('required') &&
          userForm.get('city')?.touched
        "
        class="error">
        City is required
      </small>
        <input
          type="text"
          class="form-control"
          name="zipcode"
          formControlName="zipcode"
          placeholder="ZIP CODE"
          required
        />
        <small
        *ngIf="
          userForm.get('zipcode')?.hasError('required') &&
          userForm.get('zipcode')?.touched
        "
        class="error">
        ZIP CODE is required
      </small>
      </span>

      <input
        type="date"
        class="form-control"
        name="dob"
        formControlName="dob"
        placeholder="Date of Birth"
        required
      />
      <small
      *ngIf="
        userForm.get('dob')?.hasError('required') &&
        userForm.get('dob')?.touched
      "
      class="error">
      Date of Birth is required
    </small>
      <textarea
        class="form-control"
        name="remarks"
        formControlName="remarks"
        placeholder="REMARKS"
        required
      ></textarea>
      <small
      *ngIf="
        userForm.get('remarks')?.hasError('required') &&
        userForm.get('remarks')?.touched
      "
      class="error">
      Remarks is required
    </small>
      <small
      *ngIf="
        userForm.get('remarks')?.hasError('minlength')
      "
      class="error">
      Remarks must have 20 character
    </small>

      <span class="gender">
        <label for="">GENDER :</label>
        <input type="radio" value="male" id="male" formControlName="gender" />
        <label for="male">Male</label>
        <input
          type="radio"
          value="female"
          id="female"
          formControlName="gender"
          required
        />
        <label for="female">Female</label>
        <small
        *ngIf="
          userForm.get('gender')?.hasError('required') &&
          userForm.get('gender')?.touched
        "
        class="error">
        Gender is required
      </small>
      </span>

      <span class="terms">
        <input type="checkbox" id="terms" formControlName="terms" required />
        <label for="terms"> I accept the terms and conditions</label>
      </span>
      <small
      *ngIf="
        userForm.get('terms')?.hasError('required') &&
        userForm.get('terms')?.touched
      "
      class="error">
      Accept Terms and Conditions
    </small>

      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </span>
</section>
