<main>
  <button [routerLink]="['']" class="home">Home</button>
  <section class="cart">
    <span class="cart-head">
      <span class="title"> CART </span>
      <span class="count"> ({{cartproduct.length}}) </span>
    </span>
    <span class="products">
      <span class="product" *ngFor="let product of cartproduct;let i = index">
        <img
          [src]="product.image"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >{{product.title}}</span
          >
          <span class="category"> {{product.category}} </span>
          <span class="price">{{product.price | currency}} </span>
          <span class="btn">
            <button (click)="removeprod(i)" class="remove">REMOVE</button>
          </span>
        </span>
      </span>
    </span>
    <span class="btn">
      <button class="place-order">PLACE ORDER</button>
    </span>
  </section>
  <section class="cart-amount">
    <span class="head"> PRICE DETAILS </span>
    <span class="body">
      <span class="amount">
        <ul>
          <li>
            <span class="price">Price ({{cartproduct.length}} items)</span>
            <span class="price-amt">{{cartamt | currency}}</span>
          </li>
          <li>
            <span class="delivery">Delivery Charges</span>
            <span class="delivery-status">Free</span>
          </li>
        </ul>
      </span>
      <span class="total">
        <span class="ttl-amt">Total Amount</span>
        <span class="amt-price">{{cartamt | currency}}</span>
      </span> 
    </span>
  </section>
</main>
