<main>
  <section class="cart">
    <span class="cart-head">
      <span class="title"> CART </span>
      <span class="count"> (2) </span>
    </span>
    <span class="products">
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
      <span class="product">
        <img
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
          alt=""
        />
        <span class="prod-details">
          <span class="title"
            >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
          >
          <span class="category"> men's clothing </span>
          <span class="price">109.95</span>
          <span class="btn">
            <button class="remove">REMOVE</button>
          </span>
        </span>
      </span>
    </span>
    <span class="btn">
      <button class="place-order">PLACE ORDER</button>
    </span>
  </section>
  <section class="cart-amount">
    <span class="head"> PRICE DETAILS </span>
    <span class="amount">

    </span>
    <span class="total"></span>
  </section>
</main>
