<section>
  <span class="home">
    <button class="back" [routerLink]="['']">
      <span class="material-icons"> arrow_back </span>
      HOME
    </button>
  </span>
  <span class="card">
    <span class="product" *ngFor="let data of datas;let i = index">
      <img
        [src]="data.image"
        alt=""
      />
      <span class="prod-details">
        <span class="title"
          >{{data.title}}</span
        >
        <span class="category"> men's clothing </span>
        <span class="description"
          >{{data.description}}</span
        >
        <span class="price">{{data.price | currency}}</span>
        <span class="rating">
          <span class="rate"
            >{{data.rating.rate}} <span class="material-icons"> star_rate </span></span
          >
          <span class="ratings">{{data.rating.count}} ratings</span>
        </span>
            <button (click)="addcart(data,i)" class="add-cart">ADD TO CART</button>    
      </span>
    </span>
  </span>
</section>
