<section>
  <span class="home">
    <button class="back">
      <span class="material-icons"> arrow_back </span>
      HOME
    </button>
  </span>
  <span class="card">
    <span class="product">
      <img
        src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
        alt=""
      />
      <span class="prod-details">
        <span class="title"
          >Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</span
        >
        <span class="category"> men's clothing </span>
        <span class="description"
          >Your perfect pack for everyday use and walks in the forest. Stash
          your laptop (up to 15 inches) in the padded sleeve, your
          everyday</span
        >
        <span class="price">109.95</span>
        <span class="rating">
          <span class="rate"
            >3.9 <span class="material-icons"> star_rate </span></span
          >
          <span class="ratings">120 ratings</span>
        </span>
            <button class="add-cart">ADD TO CART</button>    
      </span>
    </span>
  </span>
</section>
